@model HCS.StaffManagement.Models.Employee

@{
    ViewBag.Title = "Create Employee";
    Layout = "~/Views/Shared/_AdminLandingPage.cshtml";
}

<div class="container-fluid">
    <div class="col-sm-12">
        <!--      Wizard container        -->
        <div class="container-fluid">
            <div class="card wizard-card" data-color="rose" id="wizardProfile">
                @using (Ajax.BeginForm(
        new AjaxOptions
        {
            HttpMethod = "post",
            Url = "EmployeeInsertUpdate",
            InsertionMode = InsertionMode.Replace,
            OnSuccess = "onEmployeeInsertUpdateSuccess"
        }))
                {
                    @*@using (Html.BeginForm("EmployeeInsertUpdate", "Employee", FormMethod.Post))
                        {*@
                    @*<form id="FormEmployeeDetails" action="">*@
                    <!--        You can switch " data-color="purple" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->
                    <div class="wizard-header">
                        <h3 class="wizard-title">
                            Build Your Employee Profile
                        </h3>
                        <h5>This information will let us know more about your Employee.</h5>
                    </div>
                    <div class="wizard-navigation">
                        <ul>
                            <li class="text-center">
                                <a href="#about" data-toggle="tab">About</a>
                            </li>
                            <li class="text-center">
                                <a href="#information" data-toggle="tab">Information</a>
                            </li>
                            <li class="text-center">
                                <a href="#wages" data-toggle="tab">Wages and Role</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane" id="about">
                            <div class="card">
                                <div class="card-header bg-info">
                                    <b>Employee Basic Details </b>
                                </div>
                                <div class="row col-md-12">
                                    <div class="col-sm-3 col-sm-offset-1">
                                        <div class="picture-container" style="padding-top:65px;">
                                            <div class="picture">
                                                @{
                                                    if (Model != null && Model.EmployeeProfilePictureID != null)
                                                    {
                                                        <img src="@Url.Content("~/ProfileImage/" + Model.EmployeeProfilePictureID + ".jpeg")" class="picture-src" id="wizardPicturePreview" title="" />
                                                    }
                                                    else
                                                    {
                                                        <img src="~/Content/Images/default-avatar.png" class="picture-src" id="wizardPicturePreview" title="" />
                                                    }
                                                }
                                                @*<img src="~/Content/Images/default-avatar.png" class="picture-src" id="wizardPicturePreview" title="" />*@
                                                <input type="file" id="profile-picture">
                                                <input id="EmployeeProfilePictureID" name="EmployeeProfilePictureID" style="display:none;">
                                            </div>
                                            <h6>Choose Picture</h6>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        @Html.HiddenFor(Model => Model.EmployeeID)
                                        <div class="form-group label-floating">
                                            <label class="control-label">
                                                Employee AadharNo
                                                <small>*</small>
                                            </label>
                                            @Html.TextBoxFor(Model => Model.AadharNo, new { @class = "form-control DigitOnlyValidation", maxlength = 16, minlength = 12, tabindex = 1, Required="Required" })
                                        </div>
                                        <div class="form-group label-floating">
                                            <label class="control-label">
                                                Date of Birth
                                                <small>*</small>
                                            </label>
                                            @Html.TextBoxFor(Model => Model.DOB, new { @class = "form-control datepicker", tabindex = 4, Required = "Required" })
                                        </div>
                                        <div class="form-group label-floating">
                                            <label class="control-label">
                                                Mobile No
                                                <small>*</small>
                                            </label>
                                            @Html.TextBoxFor(Model => Model.MobileNo, new { @class = "form-control DigitOnlyValidation", maxlength = 13, minlength = 9, tabindex = 7 })
                                        </div>
                                        <div class="form-group label-floating">
                                            <label class="control-label">
                                                Nationality
                                            </label>
                                            @Html.TextBoxFor(Model => Model.Nationality, new { @class = "form-control", tabindex = 10 })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group label-floating">
                                            <label class="control-label">
                                                Employee First Name
                                                <small>*</small>
                                            </label>
                                            @Html.TextBoxFor(Model => Model.EmployeeFirstName, new { @class = "form-control", maxlength = 25, tabindex = 2, Required = "Required" })
                                        </div>
                                        <div class="form-group label-floating">
                                            <label class="control-label">
                                                Date of join
                                                <small>*</small>
                                            </label>
                                            @Html.TextBoxFor(Model => Model.DateofJoin, new { @class = "form-control datepicker", tabindex = 5 })
                                        </div>
                                        <div class="form-group label-floating">
                                            <label class="control-label">
                                                Contact No
                                            </label>
                                            @Html.TextBoxFor(Model => Model.ContactNo, new { @class = "form-control DigitOnlyValidation", minlength = 10, maxlength = 13, tabindex = 8 })
                                        </div>
                                        <div class="form-group label-floating is-focused">
                                            <label class="control-label">
                                                Marital Status
                                            </label>
                                            <select name="MaritalStatusCode" id="MaritalStatusCode" class="form-control" tabindex="11"></select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group label-floating">
                                            <label class="control-label">
                                                Employee Last Name
                                                <small>*</small>
                                            </label>
                                            @Html.TextBoxFor(Model => Model.EmployeeLastName, new { @class = "form-control", maxlength = 25, tabindex = 3, Required = "Required" })
                                        </div>
                                        <div class="form-group label-floating">
                                            <label class="control-label">
                                                Gender
                                            </label>
                                            <select name="Gender" id="Gender" class="form-control" tabindex="6"></select>
                                        </div>
                                        <div class="form-group label-floating">
                                            <label class="control-label">
                                                Email ID
                                            </label>
                                            @Html.TextBoxFor(Model => Model.EmailID, new { @class = "form-control", type = "email", tabindex = 9 })
                                        </div>
                                        <div class="form-group label-floating is-focused">
                                            <label class="control-label">
                                                Qualification
                                            </label>
                                            <select name="QualificationCode" id="QualificationCode" class="form-control" tabindex="12"></select>
                                            @Html.HiddenFor(Model => Model.QualificationCode)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="information">
                            <div class="card">
                                <div class="card-header bg-info"><b>Document Details</b></div>
                                <div class=" row col-sm-12">
                                    <div class="col-sm-3">
                                        <div class="form-group label-floating">
                                            <label class="control-label">
                                                Employee Voter Card No.
                                            </label>
                                            @Html.TextBoxFor(Model => Model.VoterCardNo, new { @class = "form-control", maxlength = 25, tabindex = 1 })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group label-floating">
                                            <label class="control-label">
                                                Employee Driving License No.
                                            </label>
                                            @Html.TextBoxFor(Model => Model.DrivingLicenseNo, new { @class = "form-control", maxlength = 25, tabindex = 2 })
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="form-group label-floating">
                                            <label class="control-label">
                                                Employee PAN No.
                                            </label>
                                            @Html.TextBoxFor(Model => Model.PanNo, new { @class = "form-control", maxlength = 11, minlength = 10, tabindex = 3 })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group label-floating">
                                            <label class="control-label">
                                                Employee Ration Card No.
                                            </label>
                                            @Html.TextBoxFor(Model => Model.RationCardNo, new { @class = "form-control", maxlength = 25, tabindex = 4 })
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="card">
                                <div class="card-header bg-info">
                                    <b>Permanent Address</b>
                                </div>

                                <div class="row col-sm-12">
                                    <div class="col-sm-3">
                                        <div class="form-group label-floating">
                                            <label class="control-label">
                                                Enter Address 1
                                            </label>
                                            @Html.TextBoxFor(Model => Model.PermanentAddress.Address1, new { @class = "form-control", maxlength = 100, tabindex = 5 })
                                        </div>

                                        <div class="form-group label-floating">
                                            <label class="control-label">
                                                Enter City Name
                                            </label>
                                            @Html.TextBoxFor(Model => Model.PermanentAddress.City, new { @class = "form-control", maxlength = 50, tabindex = 9 })
                                        </div>

                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group label-floating">
                                            <label class="control-label">
                                                Enter Address 2
                                            </label>
                                            @Html.TextBoxFor(Model => Model.PermanentAddress.Address2, new { @class = "form-control", maxlength = 100, tabindex = 6 })
                                        </div>

                                        <div class="form-group label-floating">
                                            <label class="control-label">
                                                Enter Pin Code
                                            </label>
                                            @Html.TextBoxFor(Model => Model.PermanentAddress.PinCode, new { @class = "form-control DigitOnlyValidation", maxlength = 6, minlength = 6, tabindex = 10 })
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="form-group label-floating">
                                            <label class="control-label">
                                                Select Country
                                            </label>
                                            <select name="PermanentAddress.CountryID" id="PermanentAddress_CountryID" class="form-control" tabindex="7" readonly="readonly">
                                                <option value="">Select Country</option>
                                                <option value="1" selected>India</option>
                                            </select>
                                            @*@Html.TextBoxFor(Model => Model.CountryID, new { @class = "form-control", type = "email" })*@
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group label-floating is-empty is-focused">
                                            <label class="control-label">
                                                Select State
                                            </label>
                                            <select name="PermanentAddress.CountryStateID" id="PermanentAddress_CountryStateID" class="form-control" tabindex="8"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" id="sameasPermanent" class="form-check-input" tabindex="11">
                                    Same as Permanent Address
                                </label>
                            </div>
                            <div class="card">
                                <div class="card-header bg-info">
                                    <b>Currrent Address</b>
                                </div>

                                <div class="row col-sm-12">
                                    <div class="col-sm-3">
                                        <div class="form-group label-floating">
                                            <label class="control-label">
                                                Enter Address 1
                                            </label>
                                            @Html.TextBoxFor(Model => Model.CurrentAddress.Address1, new { @class = "form-control", maxlength = 100, tabindex = 12 })
                                        </div>

                                        <div class="form-group label-floating">
                                            <label class="control-label">
                                                Enter City Name
                                            </label>
                                            @Html.TextBoxFor(Model => Model.CurrentAddress.City, new { @class = "form-control", maxlength = 50, tabindex = 16 })
                                        </div>

                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group label-floating">
                                            <label class="control-label">
                                                Enter Address 2
                                            </label>
                                            @Html.TextBoxFor(Model => Model.CurrentAddress.Address2, new { @class = "form-control", maxlength = 100, tabindex = 13 })
                                        </div>

                                        <div class="form-group label-floating">
                                            <label class="control-label">
                                                Enter Pin Code
                                            </label>
                                            @Html.TextBoxFor(Model => Model.CurrentAddress.PinCode, new { @class = "form-control DigitOnlyValidation", maxlength = 6, tabindex = 17 })
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="form-group label-floating">
                                            <label class="control-label">
                                                Select Country
                                            </label>
                                            <select name="CurrentAddress.CountryID" id="CurrentAddress_CountryID" class="form-control" tabindex="14"></select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group label-floating is-empty is-focused">
                                            <label class="control-label">
                                                Select State
                                            </label>
                                            <select name="CurrentAddress.CountryStateID" id="CurrentAddress_CountryStateID" class="form-control CountryState" tabindex="15"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="wages">
                            @*<div class="card">
                                <div class="card-header bg-info"><b>Employee Pay Scale</b></div>
                                <div>
                                    <div class="row col-md-12">
                                        <div class="col-sm-3">
                                            <div class="form-group label-floating">
                                                <label class="control-label">
                                                    Basic Salary
                                                </label>
                                                @Html.TextBoxFor(Model => Model.BasicWages.BasicSalary, new { @class = "form-control DigitOnlyValidation", maxlength = 7 })
                                            </div>
                                        </div>

                                        <div class="col-sm-3">
                                            <div class="form-group label-floating">
                                                <label class="control-label">
                                                    Bonus Percentage
                                                </label>
                                                @Html.TextBoxFor(Model => Model.BasicWages.BonusPercentage, new { @class = "form-control DigitOnlyValidation", maxlength = 5 })
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group label-floating">
                                                <label class="control-label">
                                                    Incentive
                                                </label>
                                                @Html.TextBoxFor(Model => Model.BasicWages.IncentivePercentage, new { @class = "form-control DigitOnlyValidation", maxlength = 7 })
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group label-floating">
                                                <label class="control-label">
                                                    Wages
                                                </label>
                                                @Html.TextBoxFor(Model => Model.BasicWages.Wages, new { @class = "form-control DigitOnlyValidation", maxlength = 7 })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>*@

                            <div class="card">
                                <div class="card-header bg-info">
                                    <b>PF and ESI</b>
                                </div>
                                <div class="row col-sm-12">
                                    <div class="col-sm-3">
                                        <div class="form-group label-floating">
                                            <label class="control-label">
                                                PF No.
                                            </label>
                                            @Html.TextBoxFor(Model => Model.PFNo, new { @class = "form-control", maxlength = 30 })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group label-floating">
                                            <label class="control-label">
                                                ESI No.
                                            </label>
                                            @Html.TextBoxFor(Model => Model.ESINo, new { @class = "form-control", maxlength = 25 })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wizard-footer">
                        <div class="float-right">
                            <input type='button' class='btn btn-next btn-fill btn-rose btn-wd' name='next' value='Next' />
                            <input type='submit' class='btn btn-finish btn-fill btn-rose btn-wd' id="btnSaveEmployee" name='finish' value='Finish' />
                        </div>
                        <div class="float-left">
                            <input type='button' class='btn btn-previous btn-fill btn-default btn-wd' name='previous' value='Previous' />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    @*</form>*@
                                                    }
            </div>
        </div><!-- wizard container -->
    </div>
</div>
<script>
    var EmployeeObj = @Html.Raw(Json.Encode(@Model));
</script>
@*<script src="~/Scripts/AppScripts/Common.js"></script>*@
<script src="@Url.Content("~/Scripts/Employee/EmployeeCreate.js")"></script>
