@model HCS.StaffManagement.Models.Employee
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLandingPage.cshtml";
}

<head>
    <title></title>
    <meta charset="utf-8" />

    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css" />
        <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
            <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>*@
    <style>
        .table-style {
            width: 100% !important;
            max-width: 100% !important;
            margin-bottom: 2rem !important;
            background-color: transparent !important;
        }
    </style>
</head>

<div class="container-fluid">
    <input type="hidden" id="hEmployeeID" />
    <div class="card container-fluid">
        <div class="row">
            <button class="btn btn-outline-dark btn-dark" id="addEmployee">
                <i class="material-icons">person_add</i>
                Add Employee
            </button>
            @*<button class="btn btn-outline-dark btn-dark" id="EmployeeBank" data-toggle="modal" data-target="#EmployeeBankDetail">
                   EmployeeBankDetails
                </button>*@
        </div>
        <table id="tblGetEmployee" class="table-style table-striped table-bordered nowrap" sytle="width:100%"></table>
    </div>
</div>

<button class="btn btn-outline-dark btn-dark" id="btnModalWageTrigger" hidden data-toggle="modal" data-target="#modalWages">
    </button>
<div class="modal fade" tabindex="1" role="dialog" id="modalWages">
    <div class="modal-dialog modal-lg" role="document">
        <form action="" id="formWages">
            <div class="modal-content">
                <div class="modal-header">
                    <b> Wage/Salary Details</b>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="row col-md-12 col-sm-12 col-lg-12 col-xl-12">
                          
                        <div class="row col-md-12">
                            <div class="col-sm-3">
                                <div class="form-group label-floating">
                                    <label class="control-label">
                                        Basic Salary
                                        <small>*</small>
                                    </label>
                                    <input type="text" maxlength="7" id="txtBasicSalary" class="form-control DigitOnlyValidation" required onchange="fnValidateFloatValue(this)"/>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group label-floating">
                                    <label class="control-label">
                                        Wages
                                    </label>
                                    <input type="text" maxlength="7" id="txtWages" class="form-control DigitOnlyValidation" onchange="fnValidateFloatValue(this)" />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group label-floating">
                                    <label class="control-label">
                                        Bonus (%)
                                    </label>
                                    <input type="text" maxlength="5" id="txtBonusPercentage" class="form-control DigitOnlyValidation" />

                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group label-floating">
                                    <label class="control-label">
                                        Incentive
                                    </label>
                                    <input type="text" maxlength="7" id="txtIncentivePercentage" class="form-control DigitOnlyValidation" onchange="fnValidateFloatValue(this)" />
                                </div>
                            </div>

                        </div>
                            </div>
                        </div>
                   

              
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="btnWage">Save</button>
                </div>
            </div><!-- /.modal-content -->
        </form>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" tabindex="1" role="dialog" id="EmployeeBankDetail">
    <div class="modal-dialog modal-lg" role="document">
        <form action="" id="formClientUpdate">
            <div class="modal-content">
                <div class="modal-header">
                    <b> Salary Account Details</b>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="row col-md-12 col-sm-12 col-lg-12 col-xl-12">
                        <div class="col-sm-4">
                            <div class="form-group label-floating">
                                <label class="control-label">
                                    Enter Bank Account No.
                                    <small>*</small>
                                </label>
                                @Html.TextBoxFor(Model => Model.objBankAccount.AccountNo, new { @class = "form-control DigitOnlyValidation", maxlength = "20", required = "required" })
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group label-floating">
                                <label class="control-label">
                                    Enter Linked Mobile No.
                                </label>
                                @Html.TextBoxFor(Model => Model.objBankAccount.LinkedMobileNo, new { @class = "form-control DigitOnlyValidation", maxlength = "13", minlength = 10 })
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group label-floating">
                                <label class="control-label">
                                    Enter Name as per Bank Account
                                </label>
                                @Html.TextBoxFor(Model => Model.objBankAccount.NameAsPerAccount, new { @class = "form-control", maxlength = "50" })
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group label-floating">
                                <label class="control-label">
                                    Enter Linked Email ID
                                </label>
                                @Html.TextBoxFor(Model => Model.objBankAccount.LinkedEmailID, new { @class = "form-control", type = "Email" })
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group label-floating">
                                <label class="control-label">
                                    Enter Salary Bank Name
                                </label>
                                @Html.TextBoxFor(Model => Model.objBankAccount.BankName, new { @class = "form-control", maxlength = "150" })
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group label-floating">
                                <label class="control-label">
                                    IFSC Code
                                </label>
                                @Html.TextBoxFor(Model => Model.objBankAccount.IFSCCode, new { @class = "form-control", maxlength = 11, minlength = 11 })
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group label-floating">
                                <label class="control-label">
                                    Account Type
                                </label>
                                @Html.TextBoxFor(Model => Model.objBankAccount.AccountType, new { @class = "form-control", maxlength = 50 })
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group label-floating">
                                <label class="control-label">
                                    Branch Name
                                </label>
                                @Html.TextBoxFor(Model => Model.objBankAccount.BankAddress, new { @class = "form-control", maxlength = 50 })
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group label-floating">
                                <label class="control-label">
                                    Pin Code
                                </label>
                                @Html.TextBoxFor(Model => Model.objBankAccount.PinCode, new { @class = "form-control", maxlength = 6, minlength = 6 })
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="btnBankDetails">Save</button>
                </div>
            </div><!-- /.modal-content -->
        </form>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@*<script src="~/Scripts/AppScripts/Common.js"></script>*@
<script src="@Url.Content("~/Scripts/Employee/Employee.js")"></script>



